[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://Github.com/cntrump/hugo-notepadium.git
[submodule "themes/github-style"]
	path = themes/github-style
	url = https://github.com/MeiK2333/github-style.git
